<nav *ngIf="mobile" id="mobile-navbar" class="navbar-dark bg-dark">
	<div class="container text-light"><div class="row">
		<div class="col float-left align-self-center"><a *ngIf="activeId() !== null" (click)="deselect()" class="material-icons">arrow_back</a></div>
		<div class="navbar-brand col-auto align-self-center"><i class="material-icons">message</i>&nbsp;{{ title }}</div>
		<div class="col float-right align-self-center">{{ activeId() }}</div>
	</div></div>
</nav>
<div id="mobile-content" class="row full-height">
	<div class="no-padding{{ mobile ? ' col' : ' col-4' }} {{ (activeId() === null || !mobile) ? 'visible' : 'no-display' }} scroll">
		<app-convo-list></app-convo-list>
	</div>
	<div *ngIf="(activeId() !== null || !mobile)" class="col scroll">
		<app-conversation></app-conversation>
	</div>
</div>