<nav *ngIf="mobile" id="mobile-navbar" class="navbar-dark bg-dark fixed-top">
	<div class="container text-light"><div class="row">
		<div class="col float-left align-self-center"><a *ngIf="selection.activeConvo !== null" (click)="deselect()" class="material-icons">arrow_back</a></div>
		<div class="navbar-brand col-auto align-self-center"><i class="material-icons text-primary">message</i>&nbsp;{{ title }}</div>
		<div class="col float-right align-self-center"></div>
	</div></div>
</nav>
<div id="mobile-content" class="row vh-100 m-0">
	<div class="no-padding{{ mobile ? ' col' : ' col-4' }} {{ (selection.activeConvo === null || !mobile) ? 'visible' : 'no-display' }} scroll">
		<app-convo-list></app-convo-list>
	</div>
	<div *ngIf="(selection.activeConvo !== null || !mobile)" class="col h-100 p-0">
		<div id="conversation-view" class="scroll">
			<app-conversation></app-conversation>
		</div>
		<div id="text-input-div" class="w-100 p-2 m-0 bg-light input-group{{ mobile ? ' fixed-bottom' : '' }}">
			<input id="text-input" type="text" class="form-control" placeholder="Say something..." />
			<div class="input-group-append">
				<span class="input-group-text bg-primary text-light"><i class="material-icons">send</i></span>
			</div>
		</div>
	</div>
</div>