<div class="mt-{{ message.inChain ? '1' : '2' }} ml-0 mr-0 row">
	<div class="col">
		<div *ngIf="isActive" class="text-center text-muted"><small>{{ request.getDateStringFromRequest(message.time) }}</small><br /></div>
		<span *ngIf="(message.author && !message.inChain)"><small class="float-{{ message.align }} text-muted">{{ message.author }}</small><br /></span>
		<div style="max-width: 75%;" class="{{ getMessageStyle(message) }}">
			<h1 *ngIf="isEmoji(message.content)">{{ message.content }}</h1>
			<div *ngIf="!isEmoji(message.content)" class="card-body p-2">{{ message.content }}</div>
		</div>
	</div>
</div>
<div *ngIf="isActive" class="ml-0 mr-0 row">
	<div class="col">
		<small class="ml-1 mr-1 pb-2 float-{{ message.align }} text-muted">{{ message.subcontent }}</small>
	</div>
</div>