@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
	overflow-x: hidden;
}

.no-padding {
	padding: 0px !important;
}

.no-display {
	display: none;
}

@for $i from 1 through 20 {
	.mw-#{$i * 5} {
		max-width: $i * 5%;
	}
}

.full-height {
	height: 100vh;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#search-parent {
	position: relative;
}

#search-clear {
	position: absolute;
	right: 2.1em;
	top: 1.2em;
}

#search-clear:hover {
	cursor: pointer;
}