@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Material+Icons');

body {
	font-family: 'Open Sans' !important;
	overflow-x: hidden;
}

.no-padding {
	padding: 0px !important;
}

.no-display {
	display: none;
}

.full-height {
	height: 100vh;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#search-parent {
	position: relative;
}

#search-clear {
	position: absolute;
	right: 2.1em;
	top: 1.2em;
}

#search-clear:hover {
	cursor: pointer;
}